<div *ngIf="!loadingTracks">
  <table *ngIf="tracks?.length">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of tracks; let i = index" >
      <td>{{i+1}}</td>
      <td>{{track.name}}</td>
      <td>{{track.artists[0].name}}</td>
      <td><a [routerLink]="['/music', 'album', track.album.id]">{{track.album.name}}</a></td>
      <td><button type="button">Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="loadingTracks">Loading...</div>
